@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:none; padding:0;margin:0;outline-style:none; }
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
body {
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
a {color:#666; text-decoration:none; }
a:hover{color: #FF6600;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #FF6600!important;}

/*公共类*/
.w {  /*版心 提取 */
    width: 1210px;margin:0 auto;
}
.fl {
    float:left
}
.fr {
    float:right
}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}

/*頂部導航開始*/
.nav {
    margin-top: 12px;
}
.nav-logo h1 {
    font-size: 20px;
}
.nav-items {
    margin-left: 168px;
}
.nav-items li {
    float: left;
    margin: auto 16px;
}
.nav-items li a {
    font:400 16px/16px "微软雅黑";
}
.nav-user {
    font: 400 16px/16px "微软雅黑";
}
.nav-user .name {
    margin-right: 10px;
}
.nav-search {
    margin-left: 18px;

}
.nav-search input {
    border: 1px solid #666;
    height: 24px;
    width: 113px;
    border-radius: 15px;
    padding-left: 5px;
    font: 500 13px/24px "微软雅黑";
    background: url("../images/search.png") no-repeat 6px 5px;
    background-size: 14px 14px;
}
.nav-line {
    height: 1px;
    background-color: #666;
    margin-top: 3px;
}