.slogan {
    font: 500 13px/24px "宋体";
}
/*小冊路徑開始*/
.bookpath {
    margin-top: 5px;
}
.bookpath a {
    font: 400 13px/13px "微软雅黑";
}
.bookpath span{
    font: 600 13px/24px "宋体";
    margin: auto 5px;
}

/*小冊設定菜單開始*/
.setmenu li{
    background-color: #eeeeee;
    float: left;
    margin: auto 8px;
    padding: 4px 8px 4px 30px;
    border-radius: 5px;
    position: relative;
    background: url("") no-repeat 8px 5px #eeeeee;
    cursor: pointer;
}
.setmenu li i{
    position: absolute;
    width: 15px;
    height: 7px;
    top: 11px;
    right: 7px;
    overflow: hidden;
}
.setmenu li s {
    font: 600 15px/15px "宋体";
    color: #999999;
    position: absolute;
    top: -8px;
    right: 0;
}
li.setmenu-more {
    padding-right: 20px;
}
.setmenu .view {
    background-image: url("../images/eye.png");
}
.setmenu .update {
    background-image: url("../images/update.png");
}
.setmenu .finish {
    background-image: url("../images/calendar.png");
}
.setmenu .multiset {
    background-image: url("../images/paperclip.png");
}
.setmenu .share {
    background-image: url("../images/share.png");
}
/*小冊設定菜單結束*/

/*功能欄列表開始*/
.toolbar {
    width: 100%;
}
.toolbar li {
    float: left;
    margin: 17px 0 0 0;
    padding-left: 40px;
    cursor: pointer;
    background: url("") no-repeat 19px 1px;
}
.toolbar .preview {
    background-image: url("../images/book.png");
}
.toolbar .recover {
    background-image: url("../images/recover.png");
}
.toolbar .reset {
    background-image: url("../images/reset.png");
}
.toolbar .cut {
    background-image: url("../images/cut.png");
}
.toolbar .paste {
    background-image: url("../images/paste.png");
}
.toolbar .clear {
    background-image: url("../images/clear.png");
}
.toolbar .changetemp {
    background-image: url("../images/changetemp.png");
}
.toolbar .hint {
    background-image: url("../images/hint.png");
}
/*功能列表結束*/

/*素材庫開始*/
.materlib {
    width: 150px;
    margin: 0;
}
.materlib h1 {
    font: 500 16px/16px "宋体";
}
.materlib .line {
    width: 100%;
    height: 1px;
    background-color: #666;
    margin-top: 5px;
}
.materlib .func {
    float: left;
    cursor: pointer;
}
.materlib .square {
    width: 32px;
    height: 32px;
    border: 4px solid #666;
    border-radius: 8px;
    margin: 12px 17px 10px 18px;
}
.materlib h2 {
    margin-top: 9px;
    width: 75px;
    text-align: center;
    margin-bottom: 21px;
}
.materlib .line-btm {
    margin-top: 495px;
    width: 100%;
    height: 1px;
    background-color: #666;
}
.materlib .manage {
    height: 18px;
    padding-left: 42px;
    margin-right: 15px;
    background: url("../images/save.png") no-repeat 19px 1px #FFFFFF;
    cursor: pointer;
}
.materlib .func .add {
    background: url("../images/add.png") no-repeat 6px 6px;
    background-size: 20px 20px;
}
/*素材庫結束*/

/*Canavs開始*/
.canvazz {
    position: relative;
    margin-top: 21px;
    margin-left: 31px;
}
.canvazz canvas {
    width: 508px;
    height: 660px;
    border: 1px solid #666;
}
.canvazz .next {
    font: 400 14px/14px "微软雅黑";
    position: absolute;
    top: 335px;
    right: -29px;
    background-color: #FFFFFF;
    cursor: pointer;
}
.canvazz .next span {
    font: 600 14px/24px "宋体";
}
/*Canvas結束*/

/*底部小冊縮圖區開始*/
.pagemanage {
    margin-top: 25px;
    position: relative;
}
.pagemanage .funcbar .pagenum {
    font: 600 15px/15px "宋体";
    margin-right: 14px;
}
.pagemanage .funcbar .addpage {
    background: url("../images/plus.png") no-repeat 1px 2px;
    padding-left: 23px;
    font: 400 14px/14px "微软雅黑";
    margin-right: 16px;
    cursor: pointer;
}
.pagemanage .funcbar .managepage {
    background: url("../images/manage.png") no-repeat 1px 2px;
    padding-left: 23px;
    font: 400 14px/14px "微软雅黑";
    cursor: pointer;
}
/*分頁列表開始*/
.pagelist {
    width: 10000px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}
.pagelist .pageblock {
    margin-right: 5px;
    float: left;
}
.pagelist .pageblock img {
    border: 1px solid #666;
    width: 78px;
    height: 100px;
}
.pageblock .two {
    margin-left: -5px;
}
.pagemanage .prev,
.pagemanage .next{
    font: 400 14px/14px "微软雅黑";
    position: absolute;
    background-color: #FFFFFF;
    cursor: pointer;
}
.pagemanage .prev span,
.pagemanage .next span{
    font: 600 14px/24px "宋体";
}
.pagemanage .prev {
    top: 69px;
    left: -43px;
}
.pagemanage .next {
    top: 69px;
    right: -20px;
}
/*底部小冊縮圖區結束*/



